{{ partial "header.html" . }}

<h1 class="article-meta">{{ .Title }}</h1>
{{ with .Params.author }}<h3 class="author">{{ . }}</h3>{{ end }}

{{ .Content }}

<hr />
<!--
  {{ range (where .Data.Pages "Section" "!=" "") }}
    <h4 style="font-family: 'Montserrat', sans-serif; text-align: left;"><a href="{{ .URL }}">{{ .Title }}</a> - {{ .Date.Format "02 January 2006" }}</h4>
    <p style="margin: 5px;">
    {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        ...<a href="{{ .Permalink }}" style="height:28px">
            Read more 
          </a>
        {{ end }}
    </p>
    <br />
  {{ end }}
-->

{{ range (where .Data.Pages "Section" "!=" "") }}
    <h4><a href="{{ .URL }}">{{ .Title }}</a> - {{ .Date.Format "02 January 2006" }}</h4>
    <div>
        <p style="margin: 5px;">
        {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
            <a href="{{ .Permalink }}" style="height:28px; font-family: 'Source Code Pro', monospace;text-align:center;">
                [Read more]
              </a>
            {{ end }}
        </p>
        <br />
    </div>
{{ end }}

{{ partial "footer.html" . }}
